<%if flash[:errors]%>
   <h4 class="title is-4"> <%=flash[:errors]%></h4>
<%end%>



 <div class="section">
    <%=simple_form_for :login_info, url: login_path do |f| %>
       
        <div class="field">
            <div class="control">
                <%= f.input :user_name, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <%=f.input :password, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
            </div>
        </div>

        <%= f.button :submit, 'Login', class: "button is-primary" %>
    <% end %>
</div>