<div class="container">
    <div class="pb-100">
            <div class="pt-3">
                <h1 class="title is-3">Upload</h1>
            </div>
        </div>

    <div class="section">
        <%= simple_form_for @post do |f| %>
            <div class="field">
                <div class="control">
                    <%= f.input :title, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
                </div>
            </div>

            <%= f.hidden_field :user_id, value: @current_user.id %>

             <div class="field">
                <div class="select">
                     <%= f.collection_select :city_id, @cities, :id, :name%>
                    </div>
                </div>

             <div class="field">
                <div class="control">
                    <%= f.input :link, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
                </div>
            </div>

            <%= f.button :submit, 'Create Post', class: 'button is-primary' %>
        
        <% end %>

</div>