<%if flash[:user_errors]%>
    <ul>
    <%=flash[:user_errors].each do |error|%>
    <li><%=error%></li>
    <%end%>
    </ul>
<%end%>

<h1>Upload Walking Tour</h1>

 <%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <br>
    <%= f.label :city_id %>
    <%= f.collection_select :city_id, @cities, :id, :name%>
    <br>
    <%= f.label :link %>
    <%= f.text_field :link%>
    <br>
    <%= f.submit %>
    
 <% end %>