<div class="container">
    <h1 class="title is-1"><%=@post.title%></h1>

    <figure class="image is-16by9">
        <%y_link = YouTubeRails.youtube_embed_url_only(@post.link)%>
        <iframe class="has-ratio" width="1000" height="465" src=<%="#{y_link}"%> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </figure>

    <div class="py-3">
        <div class="level-left">
        <h1 class="title is-4">Uploaded By: <%=link_to @post.user.username, user_path(@post.user.id)%></h1>
        <%if @current_user == @post.user%>
            <p class='level-item'><%=button_to "Delete", post_path(@post), class: "button is-danger", method: :delete, data: { confirm: "Are you sure you'd like to delete this video?" } %></p>
        <%end%>
            <p class='level-item'><%=button_to "Favorite", new_favorite_path(@post), class: "button is-success"%></p>
            <p class='level-item'><%=button_to "Like (#{@post.likes} likes)", like_post_path(@post), class: "button is-info"%></p>
        </div>
    </div>


    <h5 class="title is-4 pt-3">Description: </h5>
        <div class="block">
            <div class="box">
                <p class="content is-medium"><%= @post.description %></p>
            </div>
        </div>

    
    <h5 class="title is-4 pt-3 ">Comments: </h5>
    <div class="block">

    <%= render @post.comments %>

    <%= render 'comments/form' %>

    </div>
  
   </div>
